.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-toggle {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-width: 175px;

    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-dropdown-toggle:hover {
    background-color: #f2f2f2;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.dropdown-content {
    min-width: 250px; /* Lebar minimum dropdown */
    background-color: #fff; /* Warna latar belakang dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    text-align: left; /* Ratakan teks ke kiri */
    border: 1px solid #ccc; /* Tambahkan border */
}

.user-avatar {
    display: flex;
    align-items: center;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Garis pemisah */
}

.custom-dropdown-toggle:focus + .custom-dropdown-content {
    display: block;
}

/* Styling for the logout button */
#logoutButton {
    padding: 10px 15px;
    display: block;
    color: #333;
    text-decoration: none;
}

#logoutButton:hover {
    background-color: #092647;
    color: #FFD700;
}



